@import '../../variables.scss';

#Header{
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    color:white;
    color:$yellow;
    display:flex;
    align-items:center;
    .part.menu{
        flex:1;
        text-align:right;
        padding-right:15px;
        a{
            color:$yellow;
            text-decoration: none;
            padding-top:15px;
            padding-bottom: 10px;
            border-bottom:5px solid transparent;
            &:hover{
                border-bottom:5px solid $yellow;
            }
        }
    }
}