@import '../../variables.scss';

#Header{
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    color:white;
    color:$yellow;
    display:flex;
    align-items:center;
    z-index:20;

    &.small-header{
        position: static;
        background-color:black;
        img{
            max-width: 100px;
        }
    }

    img{
        filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.25));
    }
    .part.menu{
        flex:1;
        text-align:right;
        padding-right:15px;
        
        a{
            font-weight: bold;
            color:$yellow;
            text-decoration: none;
            padding-top:15px;
            padding-bottom: 10px;
            border-bottom:5px solid transparent;
            text-shadow:0px 0px 5px rgba(0,0,0,1);

            &:hover{
                border-bottom:5px solid $yellow;
            }
        }
    }
}