@import '../../variables.scss';

#Footer{
    min-height:300px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:black;
    color:white;
    text-align: center;

    #Socials{
        margin-top:10px;
        margin-bottom:10px;
        a{
            display:inline-block;
            color:black;
            background-color:$yellow;
            padding:10px;
            margin-right:5px;
            margin-left:5px;
            border:1px solid transparent;
            transition:all 0.25s ease-in;
            &:hover{
                background-color:black;
                border:1px solid $yellow;
                color:$yellow;
            }
        }
    }
}