@import '../../variables.scss';

#Home{
    min-height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:$yellow;
    animation-name:yellowToBlack;
    animation-duration:1s;
    animation-fill-mode:forwards;
    animation-delay:0.5s;
    @keyframes yellowToBlack{
        from{
            background-color:$yellow;
        }
        to{
            background-color:$black;
        }
    }
    #Intro{
        #typedStrings{
            display:none;
        }
        .title{
            font-size:3rem;
            font-weight: bold;
            color:$yellow;
            font-family:"Cocogoose";
            margin:0px;
        }
        #typed{
            font-family:monospace;
            color:$yellow;
            font-weight: bold;
            font-size:1.8rem;
        }
        transition:all 2s ease-out;
        &.to-out{
            //transform:translateY(-200px);
            opacity:0;
        }
    }
    #Video{
        display:none;
        color:white;
        margin-left:auto;
        margin-right:auto;
        video{
            width: 100%;
            height: auto;
        }
    }
}