@import '../../variables.scss';

.placeholder{

    //background: $yellow;
    background-color:white;
    height: 100%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}



.img-component{
    opacity:0;
    &.isLoaded{
      animation-name:isLoaded;
      animation-duration:1s;
      animation-fill-mode: forwards;
      @keyframes isLoaded {
        from{
          opacity:0;
        }
        to{
          opacity:1;
        }
      }
    }
}