@import '../../variables.scss';


#singleProject{
    
    
    

    .grid{
        min-height:100vh;
        
        .cartouche{
            background-color:white;
            padding-left:50px;
            padding-right:50px;
            display:flex;
            align-items: center;
            justify-content: center;
        }

        .media img{
            object-fit: cover;
            width:100%;
            height:100%;
            display:block;
            max-width: 100%;
            min-height:320px;
            min-width:320px;
        }
        
        .nav-prev{
            min-height:320px;
            min-width:320px;
        }
        .nav-next{
            min-width:320px;
            min-height:320px;
        }
        .blank{
            background-color:white;
            display:none;
        }
        .black{
            background-color:black;
            display:none;
        }
        .yellow{
            background-color:$yellow;
            display:none;
        }
        
    }

    @import 'grids.scss';
}