@import '../../variables.scss';


#singleProject{
    position:relative;
    
    /*
    transform: translateX(100px);
    transition:all 1s;
    
    &.to-in{
        transform: translateX(0px);
        opacity:1;
    }
    &.to-out{
        transform: translateX(-100px);
        opacity: 0;
    }
    */

    #ocLoaderContainer{
        position:absolute;
        z-index:5;

        border:5px dashed tomato;
        top:0px;
        bottom:0px;
        left:0px;
        right:0px;

        display:flex;
        justify-content: center;
        align-items: flex-start;

        background-color:black;

        img{
            display:block;
            border:5px dashed lightblue;
        }
    }

    #projectGrid.grid{
        display:grid;
        background-color: silver;
        grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
        .cartouche{
            background-color:white;
            padding:25px;
            padding-left:50px;
            padding-right:50px;
            display:flex;
            align-items: center;
            justify-content: center;
        }

        /*
        .media{
            opacity:0;
            animation-name:animMedia;
            animation-duration:1s;
            animation-fill-mode: forwards;
            @keyframes animMedia{
                from{
                    opacity:0;
                }
                to{
                    opacity:1;
                }
            }
        }
        */

        
        
        .nav-prev{
            padding:50px;
        }
        .nav-next{
            padding:50px;
        }
        .blank{
            background-color:white;
            display:none;
        }
        .black{
            background-color:black;
            display:none;
        }
        .yellow{
            background-color:$yellow;
            display:none;
        }

        //Du générique...
        @media screen and (min-width:600px){
        
            .cartouche{
                grid-area:cartou;
            }
            .media0{
                grid-area:media0;
            }
            .media1{
                grid-area:media1;
            }
            .media2{
                grid-area:media2;
            }
            .media3{
                grid-area:media3;
            }
            .media4{
                grid-area:media4;
            }
            .media5{
                grid-area:media5;
            }
            .nav-prev{
                grid-area:previo;
            }
            .nav-next{
                grid-area:nextio;
            }

        }
        
    }

    @import 'grids.scss';
}

@media screen and (min-width:600px){
    #singleProject{
        #projectGrid.grid{
            min-height: 100vh;
        }
    }
}