@import '../../variables.scss';


#singleProject{
    .grid{
        min-height:100vh;
        display:grid;
        background-color: silver;
        //grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(auto, 1fr));
        //grid-auto-rows: auto;
        .cartouche{
            background-color:white;
            padding:25px;
            padding-left:50px;
            padding-right:50px;
            display:flex;
            align-items: center;
            justify-content: center;
        }

        .media{
            opacity:0;
            animation-name:animMedia;
            animation-duration:1s;
            animation-fill-mode: forwards;
            @keyframes animMedia{
                from{
                    opacity:0;
                }
                to{
                    opacity:1;
                }
            }
        }

        .media img{
            object-fit: cover;
            width:100%;
            height:100%;
            display:block;
            max-width: 100vw;
            object-position: center center;
            //min-height:320px;
            //min-width:320px;
        }
        
        .nav-prev{
            padding:50px;
            //min-height:320px;
            //min-width:320px;
        }
        .nav-next{
            padding:50px;
            //min-height:320px;
            //min-width:320px;
        }
        .blank{
            background-color:white;
            display:none;
        }
        .black{
            background-color:black;
            display:none;
        }
        .yellow{
            background-color:$yellow;
            display:none;
        }

        //Du générique...

        .cartouche{
            grid-area:auto / cartou;
        }
        .media0{
            grid-area:auto / media0;
        }
        .media1{
            grid-area:auto / media1;
        }
        .media2{
            grid-area:auto / media2;
        }
        .media3{
            grid-area:auto / media3;
        }
        .media4{
            grid-area:auto / media4;
        }
        .media5{
            grid-area:auto / media5;
        }
        .nav-prev{
            grid-area:auto / previo;
        }
        .nav-next{
            grid-area:auto / nextio;
        }
        
    }

    @import 'grids.scss';
}