@import '../../variables.scss';
#Studiocontact{

    .grid{
    
        min-height:100vh;
        display:grid;
        grid-template-areas:
            'article article Denis  Adrien'
            'article article Romain Julien'
            'Raph    Frank   Chris  Emma'
        ;

        article{
            background-color:white;
            grid-area:article;
            padding-right:150px;
            padding-left:150px;
            display:flex;
            align-items: center;
            max-width: 50vw;
            font-size:1.1rem;
            line-height:2rem;
            > div {
                hr{
                   margin-inline-end: 75%;
                }

            }
        }
        div{
            //background-color:silver;
            overflow:hidden;
            img{
                //https://stackoverflow.com/questions/46090760/controlling-the-size-of-an-image-within-a-css-grid-layout
                /*
                object-fit: cover;
                width:100%;
                max-height:100%;
                object-position:top center;
                */
                max-width: 25vw;
                display:block;

            }
            &#Denis{
                grid-area:Denis;
            }
            #Adrien{
                grid-area:Adrien;
            }
            #Romain{
                grid-area:Romain;
            }
            #Julien{
                grid-area:Julien;
            }
            #Raph{
                grid-area:Raph;
            }
            #Frank{
                grid-area:Frank;
            }
            #Chris{
                grid-area:Chris;
            }
            #Emma{
                grid-area:Emma;
            }
        }
    }
}