@import '../../variables.scss';
#Studiocontact{

    .grid{
    
        min-height:100vh;

        @media screen and (min-width:400px){
            display: grid;
            grid-template-areas:
                'article article'
                'Denis   Adrien'
                'Romain  Julien'
                'Raph    Frank'   
                'Chris   Emma'
            ;
        }

        @media screen and (min-width:810px){
            display: grid;
            grid-template-areas:
                'Denis  article Adrien'
                'Romain article Julien'
                'Raph   article Frank'
                'Chris  article Emma'
            ;
        }
        @media screen and (min-width:1260px){
            display:grid;
            grid-template-areas:
                'article article Denis  Adrien'
                'article article Romain Julien'
                'Raph    Frank   Chris  Emma'
            ;
        }

        article{
            background-color:white;
            grid-area:article;
            padding-right:25px;
            padding-left:25px;
            display:flex;
            align-items: center;
            @media screen and (min-width:810px){
                max-width: 50vw;
            }
            font-size:1.1rem;
            line-height:2rem;
            > div {
                hr{
                   margin-inline-end: 75%;
                }

            }
        }
        div{
            overflow:hidden;
            img{
                max-width: 100vw;
                @media screen and (min-width:400px){
                    max-width: 50vw;
                }
                @media screen and (min-width:810px){
                    max-width: 25vw;
                }
                display:block;

            }
            &#Denis{
                grid-area:Denis;
            }
            #Adrien{
                grid-area:Adrien;
            }
            #Romain{
                grid-area:Romain;
            }
            #Julien{
                grid-area:Julien;
            }
            #Raph{
                grid-area:Raph;
            }
            #Frank{
                grid-area:Frank;
            }
            #Chris{
                grid-area:Chris;
            }
            #Emma{
                grid-area:Emma;
            }
        }
    }
}